<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />   <!--Font Awesome Link-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="CSS/footer_style.css">
  <link rel="stylesheet" href="CSS/aboutUs.css">
</head>

<body>
  <header>
    <div class="header_container">
        
        <div class="Logo"><a href="/home"><img src="Assets/Logo 2.png" alt=""></a></div>
        <ul class="header_menu">
            <li><a href="/aboutUsPage" class="active">About Us</a></li>
            <li><a href="/contactUsPage">Contact Us</a></li>
        </ul>
        <!-- <div class="menu">
            <ul>
                <li><a href="mainPage.html" class="under">HOME</a></li>
                <li><a href="#" class="under">SHOP</a></li>
                <li><a href="#" class="under">OUR PRODUCTS</a></li>
                <li><a href="#" class="under">CONTACT US</a></li>
                <li><a href="#" class="under">ABOUT US</a></li>
            </ul>
        </div> -->
        <div class="heading">
            <ul>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/sign-up">SIGNUP</a></li>
            </ul>
        </div>
    </div>
</header>

  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Welcome to Pocketsaver.com, your reliable and intuitive online expense tracker! At Pocketsaver.com, we are
      passionate about empowering individuals and businesses to take control of their finances and make informed
      financial decisions. Our goal is to simplify the way you manage your expenses, so you can focus on what truly
      matters in your life.</p>

    <p class="heading"> Why Choose Pocketsaver.com?</p>

    <ol>
      <li>User-Centric Approach: Our expense tracker was designed with you in mind. We understand that managing finances
        can be daunting, so we've created an easy-to-use and intuitive platform that caters to users of all levels of
        financial expertise.</li>
      <li>Comprehensive Expense Tracking: Pocketsaver.com offers a comprehensive suite of tools to track and categorize
        your expenses accurately. With real-time updates, you'll always have a clear overview of your financial health.
      </li>
      <li>Data Security: We take your data security seriously.Pocketsaver.com employs the latest encryption and security
        measures to ensure that your financial information is safe and protected at all times.</li>
      <li>Seamless Integration: Our expense tracker seamlessly integrates with various financial institutions and
        payment platforms, making it effortless to import and categorize your transactions.</li>
      <li>Personalized Insights: Gain valuable insights into your spending habits and financial patterns with our
        personalized reports and analysis. Our goal is to empower you with the knowledge to make informed financial
        decisions.</li>
    </ol>
    <!-- <p>  1. </p>
   <p> 2. </p>
   <p>  3. </p>
   <p> 4. </p>
   <p>  5. </p> -->

    <p class="heading"> Our Mission:</p>
    At Pocketsaver.com, our mission is to provide a user-friendly and efficient expense tracking solution that empowers
    individuals and businesses to achieve financial success. We believe that financial freedom is within reach for
    everyone, and we strive to be the catalyst that drives positive financial change in your life.</p>

    <p class="heading">Our Vision:</p>
    We envision a world where financial management is no longer a source of stress but a pathway to success. By offering
    an intuitive and reliable expense tracker, we aim to revolutionize the way people perceive and handle their
    finances, fostering a society that is financially educated and empowered.</p>

    <p class="heading">Join Us on the Journey: </p>
    We invite you to join us on this exciting journey towards financial empowerment. Whether you are an individual
    looking to better manage your personal expenses or a business seeking to streamline your financial
    processes,Pocketsaver.com has the tools and support you need to succeed.</p>

    <p> Get started today and take control of your finances with Pocketsaver.com!
    </p>

  </div>
  <h2 style="text-align:center"  id="ourTeam">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div alt="MD.ABDUL" style="width:100%">
          <div class="container">
            <h2>MD. ABDUL RAB</h2>
            <p class="title">LEADER</p>
            <p class="title">BACKEND PROGRAMMER</p>
            <p>mdabdulrab345@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div alt="MD.AASIF" style="width:100%">
          <div class="container">
            <h2>MD. AASIF ALI AADIL</h2>
            <p class="title">MEMBER</p>
            <p class="title">BACKEND PROGRAMMER</p>
            <p>mdaasifali786@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div alt="NITESH KUMAR" style="width:100%">
          <div class="container">
            <h2>NITESH KUMAR</h2>
            <p class="title">MEMBER</p>
            <p class="title">FRONTEND PROGRAMMER</p>
            <p>niteshkumar123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="PRATIKSHYA" style="width:100%">
          <div class="container">
            <h2>PRATIKSHYA SWAIN</h2>
            <p class="title">MEMBER</p>
            <p class="title">FRONTEND PROGRAMMER</p>
            <p>pratikshyaswain123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="ANKITA BISWAL" style="width:100%">
          <div class="container">
            <h2>ANKITA BISWAL</h2>
            <p class="title">MEMBER</p>
            <p class="title">FRONTEND PROGRAMMER</p>
            <p>ankitabiswal123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="MD.ASHFAQUE" style="width:100%">
          <div class="container">
            <h2>MD. ASHFAQUE</h2>
            <p class="title">MEMBER</p>
            <p class="title">BETA TESTER</p>
            <p>mdashfaque123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="HARI NARAYAN MISHRA" style="width:100%">
          <div class="container">
            <h2>HARI NARAYAN MISHRA</h2>
            <p class="title">MEMBER</p>
            <p class="title">BETA TESTER</p>
            <p>harinarayan123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="MD.AMIR" style="width:100%">
          <div class="container">
            <h2>MD. AMIR</h2>
            <p class="title">MEMBER</p>
            <p class="title">FRONTEND PROGRAMMER</p>
            <p>mdamir123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="LAXMAN KUSHWAHA" style="width:100%">
          <div class="container">
            <h2>LAXMAN KUSHWAHA</h2>
            <p class="title">MEMBER</p>
            <p class="title">BETA TESTER</p>
            <p>laxmankushwaha123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="DANISH KHAN" style="width:100%">
          <div class="container">
            <h2>DANISH KHAN</h2>
            <p class="title">MEMBER</p>
            <p class="title">FRONTEND PROGRAMMER</p>
            <p>danishkhan123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div alt="MD.ADNAAN" style="width:100%">
          <div class="container">
            <h2>MD. ADNAANUL FEHAR ANSARI</h2>
            <p class="title">MEMBER</p>
            <p class="title">BETA TESTER</p>
            <p>adnaanansari123@gmail.com</p>
            <!-- <button class="button">Contact</button> -->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer_container">
          <div class="footer_col 1">
              <div class="heading 1">
                  <h4>About Us</h4>
              </div>
              <p>Welcome to Pocketsaver.com, your reliable and intuitive online expense tracker! At Pocketsaver.com, we are
                passionate about empowering individuals and businesses to take control of their finances and make informed
                financial decisions. Our goal is to simplify the way you manage your expenses, so you can focus on what truly
                matters in your life.</p>
          </div>
          <div class="footer_col 2">
              <div class="heading 2">
                  <h4>Information</h4>
              </div>
              <ul>
                  <li><a href="/aboutUsPage">About Us</a></li>
                  <li><a href="/contactUsPage">Contact Us</a></li>
                  <li><a href="/privacyPolicyPage">Privacy Policy</a></li>
                  <li><a href="">Terms and Conditions</a></li>
                  <li><a href="/faqPage">FAQ</a></li>
              </ul>
          </div>
          <div class="footer_col 3">
              <div class="heading 3">
                  <h4>Connect with us</h4>
              </div>
              <div class="links">
                  <div class="box 1"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                  <div class="box 2"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                  <div class="box 3"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
              </div>
          </div>
      </div>
      <div class="footer_copyright">
          <span>Copyright <i class="fa-regular fa-copyright"></i> 2023 All rights reserved, POCKETSAVER LTD</span>
      </div>
  </footer>
</body>

</html>