<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>category</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto "
    />
    <link rel="stylesheet" href="css/categoriesStyle.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="cat">
          <a href="/dashboard"><i class="fa-solid fa-arrow-left"></i></a>
          <h1>Categories</h1>
        </div>
        <a href="#" class="wallet">
          <img src="/Assets/categoriesPage/wallettt.png" />
        </a>
      </div>
    </header>

    <div class="wrapper">
      <div class="container">
        <div class="exp">
          <h5>Required Expense</h5>
        </div>
        <div class="food">
          <div class="f"></div>
          <a href="#"><p>Food & Bevarage</p></a>
        </div>

        <div class="food">
          <div class="f2"></div>
          <a href="#"><p>Transportation</p></a>
        </div>

        <div class="food">
          <div class="f3"></div>
          <a href="#"><p>Rentals</p></a>
        </div>
        <div class="food">
          <div class="f4"></div>
          <a href="#"><p>Water Bill</p></a>
        </div>
        <div class="food">
          <div class="f5"></div>
          <a href="#"><p>Phone Bill</p></a>
        </div>
        <div class="food">
          <div class="f6"></div>
          <a href="#"><p>Electricity Bill</p></a>
        </div>
        <div class="food">
          <div class="f7"></div>
          <a href="#"><p>Gas Bill</p></a>
        </div>
        <div class="food">
          <div class="f8"></div>
          <a href="#"><p>Television Bill</p></a>
        </div>
        <div class="food">
          <div class="f9"></div>
          <a href="#"><p>Internet Bill</p></a>
        </div>
        <!-- <div class="food">
          <div class="f10"></div>
          <a href="#"><p>Other utility Bill</p></a>
        </div> -->
        <div class="exp2">
          <h5>Up & Corners</h5>
        </div>
        <div class="food">
          <div class="f11"></div>
          <a href="#"><p>Home Maintenance</p></a>
        </div>

        <div class="food">
          <div class="f12"></div>
          <a href="#"><p>Vehical Maintenance</p></a>
        </div>

        <div class="food">
          <div class="f13"></div>
          <a href="#"><p>Medical Check Up</p></a>
        </div>
        <div class="food">
          <div class="f14"></div>
          <a href="#"><p>Insurances</p></a>
        </div>
        <div class="food">
          <div class="f15"></div>
          <a href="#"><p>Education</p></a>
        </div>
        <div class="food">
          <div class="f16"></div>
          <a href="#"><p>Houseware</p></a>
        </div>
        <div class="food">
          <div class="f17"></div>
          <a href="#"><p>Personal Items</p></a>
        </div>
        <div class="food">
          <div class="f18"></div>
          <a href="#"><p>Pets</p></a>
        </div>
        <div class="food">
          <div class="f19"></div>
          <a href="#"><p>Home Services</p></a>
        </div>
        <!-- <div class="food">
          <div class="f20"></div>
          <a href="#"><p>Other Expense</p></a>
        </div> -->
        <div class="exp2">
          <h5>Fun & Relax</h5>
        </div>
        <div class="food">
          <div class="f21"></div>
          <a href="#"><p>Fitness</p></a>
        </div>

        <div class="food">
          <div class="f22"></div>
          <a href="#"><p>Makeup</p></a>
        </div>

        <div class="food">
          <div class="f23"></div>
          <a href="#"><p>Gifts & Donation</p></a>
        </div>
        <div class="food">
          <div class="f24"></div>
          <a href="#"><p>Streaming Services</p></a>
        </div>
        <!-- <div class="food">
          <div class="f25"></div>
          <a href="#"><p>Fun Money</p></a>
        </div> -->

        <div class="exp2">
          <h5>Investing & Dept Payments</h5>
        </div>
        <div class="food">
          <div class="f26"></div>
          <a href="#"><p>Investment</p></a>
        </div>

        <!-- <div class="food">
          <div class="f28"></div>
          <a href="#"><p>Dept Collection</p></a>
        </div> -->
        <div class="food">
          <div class="f29"></div>
          <a href="#"><p>Loan Repayment</p></a>
        </div>
        <!-- <div class="food">
          <div class="f30"></div>
          <a href="#"><p>Repayment</p></a>
        </div> -->
        <div class="food">
          <div class="f31"></div>
          <a href="#"><p>Pay Interest</p></a>
        </div>
        <!-- <div class="food">
          <div class="f32"></div>
          <a href="#"><p>Collect Interest</p></a>
        </div> -->
        <div class="exp2">
          <h5>Others</h5>
        </div>
        <!-- <div class="food">
          <div class="f33"></div>
          <a href="#"><p>Salary</p></a>
        </div> -->

        <div class="food">
          <div class="f34"></div>
          <a href="#"><p>Other Expenses</p></a>
        </div>
        <!-- <div class="exp2">
          <div></div>
          <h5>Other</h5>
        </div>
        <div class="food">
          <div class="f35"></div>
          <a href="#"><p>Outgoing Transfer</p></a>
        </div>

        <div class="food">
          <div class="f36"></div>
          <a href="#"><p>Icoming Transfer</p></a>
        </div> -->
      </div>
    </div>
  </body>
</html>
