<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Assets/Logo.png"> <!--Title Icon Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!--Font Awesome Link-->
    <link rel="stylesheet" href="CSS/footer_style.css">
    <link rel="stylesheet" href="CSS/faq_style.css">
    <link rel="stylesheet" href="CSS/style.css">
    <title>PocketSaver - Frequently Asked Questions</title>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="Logo"><a href="/home"><img src="Assets/Logo 2.png" alt=""></a></div>
            <ul class="header_menu">
                <li><a href="/aboutUsPage" class="active">About Us</a></li>
                <li><a href="/contactUsPage">Contact Us</a></li>
            </ul>
            <div class="heading">
                <ul>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/sign-up">SIGNUP</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="faq_section_1">
        <div class="section_1_container">
            <div class="overlay">
                <p>
                    Frequently Asked Questions
                </p>
                <div class="buttons">
                    <a href="/contactUsPage">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

    <section class="faq_section_2">
        <div class="tab">
            <input type="radio" name="acc" id="acc1">
            <label for="acc1">
                <h2>01</h2>
                <h3>How should I use PocketSaver app for credit card management?</h3>
            </label>
            <div class="content">
                <p>Currently the app has yet to support automatic credit card management and the multiple wallets' report is still under development. But we still have a function to manage credit card manually.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc2">
            <label for="acc2">
                <h2>02</h2>
                <h3>What's budget? How to use budget?</h3>
            </label>
            <div class="content">
                <p><strong>Budget :</strong> a targeted limit for one specific wallet’s all categories or one specific category.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc3">
            <label for="acc3">
                <h2>03</h2>
                <h3>How to reset account?</h3>
            </label>
            <div class="content">
                <p>Thank you for feedback. We recommend you delete all wallets to clear everything. Please tap "Account" button on main screen -> Select "My Wallets" function -> Tap wallet which you want to edit or delete or archive P.S: You can not recover deleted wallet. Please consider carefully. Hope this helps. Let me know if you need further support. Thank you :)</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc4">
            <label for="acc4">
                <h2>04</h2>
                <h3>Hard to use PocketSaver?</h3>
            </label>
            <div class="content">
                <p>We are working to make app more intuitive for every one.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc5">
            <label for="acc5">
                <h2>05</h2>
                <h3>How to update new password for old Linked Wallet?</h3>
            </label>
            <div class="content">
                <p>PocketSaver will send a notification in order that you can continue using app with new password If you still won't see notification, you should SWIPE down screen (Android device). After that, please wait few minutes to get notification from our system. Contact us if any problem.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc6">
            <label for="acc6">
                <h2>06</h2>
                <h3>How to change password to login app?</h3>
            </label>
            <div class="content">
                <p>If you forget the password to log into your PocketSaver account, you can go to login screen > tap to "Forgot password" > enter your email account. Our system will send you an email and you can reset your password by following the instruction here. If you do not receive the system mail, you can find it in All mail and Spam.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc7">
            <label for="acc7">
                <h2>07</h2>
                <h3>Did not receive forgot password mail?</h3>
            </label>
            <div class="content">
                <p>Please check both SPAM inbox and PROMOTION inbox. Besides, our systems can not support for yahoo mail. If your account is yahoo mail or you still Did not receive forgot password mail, please drop mail to contact@pocketsaver.com. We'll reply and support as soon as possible. Thank you!</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_col 1">
                <div class="heading 1">
                    <h4>About Us</h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, similique consequuntur repellendus
                    voluptate vel dolore quo corporis. Doloremque, modi, quaerat consequuntur at molestiae alias hic
                    autem dicta, fugit recusandae accusantium.</p>
            </div>
            <div class="footer_col 2">
                <div class="heading 2">
                    <h4>Information</h4>
                </div>
                <ul>
                    <li><a href="/aboutUsPage">About Us</a></li>
                    <li><a href="/contactUsPage">Contact Us</a></li>
                    <li><a href="/privacyPolicyPage">Privacy Policy</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="/faqPage">FAQ</a></li>
                </ul>
            </div>
            <div class="footer_col 3">
                <div class="heading 3">
                    <h4>Connect with us</h4>
                </div>
                <div class="links">
                    <div class="box 1"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                    <div class="box 2"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                    <div class="box 3"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <span>Copyright <i class="fa-regular fa-copyright"></i> 2023 All rights reserved, POCKETSAVER LTD</span>
        </div>
    </footer>
</body>
</html>