<% include('../layouts/header.ejs')%>

  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
      .pass-box {
        position: relative;
      }

      .fa-solid {

        position: absolute;
        right: 5px;
        margin: 5px;
        margin-top: 32px;
        cursor: pointer;
      }

      #pswd_info {
    position: absolute;
    width: 230px;
  
    padding: 15px;
    background: #fff;
    font-size: .875em;
    border-radius: 5px;
    z-index: 55;
    margin-left:678px;
    margin-top: -60px;
  
  }
      .invalid {
        line-height: 24px;
        color: #ec3f41;
      }
      .valid,.text-info {
    line-height: 24px;
    color: #12ab68;
  }
   .hide {
    display: none;
  } 
  #pswd_info ul li .fa {
    margin-left: -20px;
    margin-right: 5px;
  }
  #pswd_info ul li {
    list-style-type: none;
  }
    </style>
    
  </head>

  <body>
    <div class="container">
      <% if(typeof message !=='undefined' ){ %>
        <p class="message">
          <%= message %>
        </p>
        <% } %>
          <h1>Password Reset</h1>
          <p>Enter your new password below:</p>
          <form class="pass-box" action="/forget-password" method="post">
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <label for="password">Password:</label>
            <input type="password" id="passField" name="password" placeholder="Enter password" required>
            <i class="fa-solid fa-eye-slash" id="eye"></i>

            <br>
            <button type="submit" value="Reset Password">Reset Password</button>
          </form>
    </div>

    <!-- Strong password validation -->

    <div id="pswd_info" class="hide">
      <h4 class="text-info">Password must contain:</h4>
      <ul>
        <li id="letter" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least <strong>one
            letter</strong></li>
        <li id="capital" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least <strong>one capital
            letter</strong></li>
        <li id="number" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least <strong>one number
            letter</strong></li>
        <li id="length" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least <strong>8 characters
            letter</strong></li>
        <li id="special" class="invalid"><i class="fa fa-times" aria-hidden="true"></i>At least <strong>one
            special-character
            letter</strong></li>

      </ul>
    </div>

    <!-- Password toggle between showing and hidding code here -->
    <script>
      var x = document.getElementById("passField");
      document.getElementById("eye").addEventListener("click", function () {
        if (x.type == "password") {
          x.type = "text";
          this.classList.add("fa-eye");
          this.classList.remove("fa-eye-slash");
        } else {
          x.type = "password";
          this.classList.remove("fa-eye");
          this.classList.add("fa-eye-slash");
        }
      });

      // password validation js start here
      x.addEventListener("keyup", function () {
        validate(x.value);
      });

      x.addEventListener("blur", function () {
        AddClass("pswd_info", "hide");
      })


      x.addEventListener("focus", function () {
        RemoveClass("pswd_info", "hide");
      })


      function validate(pswd) {
        if (pswd.length >= 8) {

          valid("length");
        }
        else {
          invalid("length");

        }
        if (pswd.match(/[A-z]/)) {
          valid("letter");
        } else {
          invalid("letter");

        }

        if (pswd.match(/[A-Z]/)) {
          valid("capital");

        } else {
          invalid("capital");
        }

        if (pswd.match(/\d/)) {
          valid("number");

        } else {
          invalid("number");
        }

        if (pswd.match(/[!@#$%^&*()_+{}\[\]:;<>,.?~]/)) {
          valid("special");

        } else {
          invalid("special");
        }

      }

      function valid(id) {
        AddClass(id, "valid");
        RemoveClass(id, "invalid");

        AddClassOnIcon(id, "fa-check");
        RemoveClassOnIcon(id, "fa-times");
      }
      function invalid(id) {
        AddClass(id, "invalid");
        RemoveClass(id, "valid");
        AddClassOnIcon(id, "fa-times");
        RemoveClassOnIcon(id, "fa-check");

      }

      function AddClass(id, cl) {
        document.getElementById(id).classList.add(cl);
      }

      function RemoveClass(id, cl) {
        document.getElementById(id).classList.remove(cl);
      }

      function AddClassOnIcon(id, cl) {
        document.getElementById(id).firstChild.classList.add(cl);
      }

      function RemoveClassOnIcon(id, cl) {
        document.getElementById(id).firstChild.classList.remove(cl);
      }


    </script>
  </body>

  </html>


  <% include('../layouts/footer.ejs')%>