<% include('../layouts/header.ejs')%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Assets/Logo.png"> <!--Title Icon Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!--Font Awesome Link-->
    <link rel="stylesheet" href="/css/style.css"> <!--Stylesheet Link-->
   <link rel="stylesheet" href="/css/footer_style.css"> <!--Footer StyleSheet Link-->
    <title>PocketSaver - Expense Tracker App</title>
</head>

<body>
    <header>
        <div class="header_container">
            <div class="Logo"><a href="/home"><img src="Assets/Logo 2.png" alt=""></a></div>
            <ul class="header_menu">
                <li><a href="/aboutUsPage" class="active">About Us</a></li>
                <li><a href="/contactUsPage">Contact Us</a></li>
            </ul>
            <!-- <div class="menu">
                <ul>
                    <li><a href="mainPage.html" class="under">HOME</a></li>
                    <li><a href="#" class="under">SHOP</a></li>
                    <li><a href="#" class="under">OUR PRODUCTS</a></li>
                    <li><a href="#" class="under">CONTACT US</a></li>
                    <li><a href="#" class="under">ABOUT US</a></li>
                </ul>
            </div> -->
            <div class="heading">
                <ul>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/sign-up">SIGNUP</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="section_1">
        <div class="section_1_container">
            <!-- <img src="Assets/HomePage/section BG.jpg" alt=""> -->
            <div class="overlay">
                <p>
                    <span>Simple way</span> <br> to manage <span>Personal Finances</span>
                </p>

                <div class="buttons">
                    <div class="login"><a href="login">Try for Free</a></div>
                    <div class="signup"><a href="sign-up">Register</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_2">
        <div class="section_2_col 1">
            <div class="imgBx"><img src="Assets/HomePage/securedData.png" alt=""></div>
            <p>100% Secured Data</p>
        </div>

        <div class="section_2_col 2">
            <div class="imgBx"><img src="Assets/HomePage/millionUser.png" alt=""></div>
            <p>1 Million+ Users</p>
        </div>

        <div class="section_2_col 3">
            <div class="imgBx"><img src="Assets/HomePage/5starReview.png" alt=""></div>
            <p>100K+ Reviews</p>
        </div>

        <div class="section_2_col 4">
            <div class="imgBx"><img src="Assets/HomePage/badge.png" alt=""></div>
            <p>Best Expense Tracker</p>
        </div>
    </section>

    <section class="section_3">
        <div class="row 1">
            <div class="imgBx"><img src="Assets/HomePage/simplemoneyTracker.jpg.jpg" alt=""></div>
            <div class="content">
                <h3>Simple Money Tracker</h3>
                <p>It takes seconds to record daily transactions. Put them into clear and visualized categories such as
                    Expense: Food, Shopping or Income: Salary, Gift.</p>
            </div>
        </div>

        <div class="row 2">
            <div class="content">
                <h3>Painless Budgeting</h3>
                <p>It takes seconds to record daily transactions. Put them into clear and visualized categories such as
                    Expense: Food, Shopping or Income: Salary, Gift.</p>
            </div>
            <div class="imgBx"><img src="Assets/HomePage/plainlessBudgeting.jpg.jpg" alt=""></div>
        </div>

        <div class="row 3">
            <div class="imgBx"><img src="Assets/HomePage/allinonePlace.jpg.jpg" alt=""></div>
            <div class="content">
                <h3>All In One Place</h3>
                <p>One report to give a clear view on your spending patterns. Understand where your money comes and goes
                    with easy-to-read graphs.
                </p>
            </div>
        </div>
    </section>

    <section class="section_4">
        <div class="heading">
            <h3>Features Our Users Love</h3>
        </div>
        <div class="container">
            <div class="contentBx 1">
                <img src="Assets/HomePage/multipleDevices.png" alt="">
                <h3>Multiple Devices</h3>
                <p>Safely synchronize across devices with Bank standard security.</p>
            </div>

            <div class="contentBx 2">
                <img src="Assets/HomePage/savingPlan.png" alt="">
                <h3>Saving Plan</h3>
                <p>Keep track on savings process to meet your financial goals.</p>
            </div>

            <div class="contentBx 3">
                <img src="Assets/HomePage/debtLoan.png" alt="">
                <h3>Debt & Loan</h3>
                <p>Manage your debts, loans and payment process in one place.</p>
            </div>
        </div>
    </section>

    <section class="section_5">
        <h3 id="header">Testimonials</h3>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="Assets/HomePage/testimonial 1.jpg" alt=""></div>
                    <div class="contentBx">
                        <h3>Md Abdul Rab<br><span>User</span></h3>
                    </div>
                    <div class="quoteBx">
                        <i class="fa-solid fa-quote-left"></i>
                        <h4>Maa Kasam Bahot hi Accha Expense Tracker App hai.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="Assets/HomePage/testimonial 2.jpg" alt=""></div>
                    <div class="contentBx">
                        <h3>Nora Fatehi<br><span>User</span></h3>
                    </div>
                    <div class="quoteBx">
                        <i class="fa-solid fa-quote-left"></i>
                        <h4>Ab Paise Bachana Hua aur bhi Aasaan.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="Assets/HomePage/testimonial 3.jpg" alt=""></div>
                    <div class="contentBx">
                        <h3>Nitesh Kumar<br><span>User</span></h3>
                    </div>
                    <div class="quoteBx">
                        <i class="fa-solid fa-quote-left"></i>
                        <h4>Naa Baap Bada Na Bhaiya, Sabse Bada Rupaiya<br>Isiliye pocketsaver.com.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_col 1">
                <div class="heading 1">
                    <h4>About Us</h4>
                </div>
                <p>Welcome to Pocketsaver.com, your reliable and intuitive online expense tracker! At Pocketsaver.com, we are
                    passionate about empowering individuals and businesses to take control of their finances and make informed
                    financial decisions. Our goal is to simplify the way you manage your expenses, so you can focus on what truly
                    matters in your life.</p>
            </div>
            <div class="footer_col 2">
                <div class="heading 2">
                    <h4>Information</h4>
                </div>
                <ul>
                    <li><a href="/aboutUsPage">About Us</a></li>
                    <li><a href="/contactUsPage">Contact Us</a></li>
                    <li><a href="/privacyPolicyPage">Privacy Policy</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="/faqPage">FAQ</a></li>
                </ul>
            </div>
            <div class="footer_col 3">
                <div class="heading 3">
                    <h4>Connect with us</h4>
                </div>
                <div class="links">
                    <div class="box 1"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
                    <div class="box 2"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                    <div class="box 3"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <span>Copyright <i class="fa-regular fa-copyright"></i> 2023 All rights reserved, POCKETSAVER LTD</span>
        </div>
    </footer>
</body>

</html>
<% include('../layouts/footer.ejs')%>