<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/transactions.css">
    <title>Transactions</title>
</head>
<body>
    <div class="transaction_container">
        <div class="heading">Your Budget Name</div>
        <div class="main_content">
            <div class="row 1">
                <span>Total Budget</span>
                <span id="budget">+&#8377 </span>
            </div>
            <div class="row 2">
                <span>Total Expenses</span>
                <span id="expense">-&#8377 </span>
            </div>
            <div class="straightLine"></div>
            <div class="row 3">
                <span>Amount Left</span>
                <span id="balance">&#8377 </span>
            </div>
        </div>
        <div class="heading">Expense Details</div>
        <div class="expense_details">
            <div class="expense_content">
                <div class="category">
                    <div class="category_content">
                        <h3>Category <span>-&#8377 400</span></h3>
                        <p>No. of Transactions</p> 
                    </div>
                    <div class="transactions">
                        <h3>01</h3>
                        <div class="content">
                            <h4>Date</h4>
                            <p>Notes</p>
                        </div>
                        <span>-&#8377 400</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>